name: Ai Windows

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  ai-windows:
    runs-on: windows-latest
    timeout-minutes: 3600
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Restore pip cache
        id: cache-pip
        uses: actions/cache@v4
        with:
          path: ~\appdata\local\pip\cache
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Cache project
        id: c-project
        uses: actions/cache@v4
        with:
          path: c:\project
          key: c-project
      
      - name: Cache d project
        id: d-project
        uses: actions/cache@v4
        with:
          path: d:\project
          key: d-project
          
      - name: Boot
        shell: pwsh
        env:
          DATA:  ${{ secrets.DATA }}
        run: scripts/windows/test.ps1

