name: Dev Ubuntu

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  dev-ubuntu:
    runs-on: ubuntu-latest
    timeout-minutes: 3600
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get npm cache directory
        id: npm-cache-dir
        shell: pwsh
        run: echo "dir=$(npm config get cache)" >> ${env:GITHUB_OUTPUT}

      - uses: actions/cache@v4
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Restore pip cache
        id: cache-pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Boot
        env:
          CF_TUNNEL: ${{ secrets.GA_UBUNTU_CF_TOKEN }}
          JUPYTER_TOKEN: ${{ secrets.JUPYTER_TOKEN }}
        run: bash .github/workflows/scripts/ubuntu.sh

      - name: VNC
        env:
          CF_TUNNEL: ${{ secrets.GA_UBUNTU_CF_TOKEN }}
          JUPYTER_TOKEN: ${{ secrets.JUPYTER_TOKEN }}
        run: bash .github/workflows/scripts/vnc-install.sh

      - name: Maintain
        run: bash .github/workflows/scripts/maintain.sh
