name: Dev Ubuntu

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  dev-ubuntu:
    runs-on: ubuntu-latest
    timeout-minutes: 3600
    steps:
      # Step 1: Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Boot
        run: bash .github/workflows/tools/boot.sh

